<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Crusader-gui</string>
    <key>CFBundleDisplayName</key>
    <string>Crusader.app</string>
    <key>CFBundleIdentifier</key>
    <string>com.github.zoxc.crusader</string>
    <key>CFBundleShortVersionString</key>
    <string>THIS-WILL-BE-UPDATED-BY-THE-SCRIPT</string>
    <key>CFBundleVersion</key>
    <string>Revision 1.0</string>
    <key>CFBundleExecutable</key>
    <string>run-crusader.sh</string>
    <key>CFBundleIconFile</key>
    <string>Crusader.icns</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
</dict>
</plist>
